[user]
	name = Eric Irish
	email = ecirish@gmail.com
[alias]
  plog = log --graph --all --oneline --decorate
	st = status
  fixlast = commit --amend --no-edit
  co = checkout
[color]
  ui = true
[push]
	default = current
[branch]
	autosetuprebase = always
[pull]
	rebase = true